In [1]:
import pandas as pd

In [2]:
data = {
        "name" : ["User1", "User2"],
        "location" : ["กทม.", "กรุงเทพฯ"],
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

    name  location
0  User1      กทม.
1  User2  กรุงเทพฯ

In [6]:
def clean_province(province):
    if province == 'กทม.' or province == "กรุงเทพฯ":
        return "Bangkok"

In [13]:
df["location_clean"] = df["location"].map(clean_province)

In [14]:
df.head()

    name  location location_clean
0  User1      กทม.        Bangkok
1  User2  กรุงเทพฯ        Bangkok